DATABASE_URL="postgresql://neondb_owner:PASSWORD@ep-xxx.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="educlass_jwt_secreto_2024"
GROQ_KEY="gsk_..."
TOGETHER_KEY="key_..."
OPENROUTER_KEY="sk-or-v1-..."
GEMINI_KEY="AIza..."
PORT=5000
